In [1]:
import pandas as pd

In [2]:
# user behavior logs
user_log = pd.read_csv('E:/NYU/2020FALL/StatConsult/data/user_log_data.csv', iterator=True, chunksize=10000)
user_log = pd.concat(user_log, ignore_index=True)

In [3]:
user_log.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

In [4]:
# user profile
user_info = pd.read_csv('E:/NYU/2020FALL/StatConsult/data/user_info_data.csv')

In [5]:
user_info.head()

   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0